@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

body {
  background-color: #fbf9f7;
  color: #1b1c1b;
  font-family: 'Inter', sans-serif;
}

.header-anchor {
  font-family: 'Manrope', sans-serif;
}

.impact-gauge-track {
  height: 2px;
  background-color: #e3beb8;
  width: 100%;
  position: relative;
}

.impact-gauge-fill {
  height: 2px;
  background-color: #610000;
  position: absolute;
  left: 0;
  top: 0;
}
